<configuration>
    <system.webServer>
        <rewrite>
            <rules>					
                <rule name="myapp" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://esgriskviewer.com:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>