<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subscription Alert</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="subMsg"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
        <button href="/subscription" class="btn btn-primary" type="button" disabled>Subscribe</button>
      </div>
    </div>
  </div>
</div> -->
<%# if(videoPopUp){ %>
<!-- <div class="modal fade bd-example-modal-lg" id="videoPopupModal" tabindex="-1" role="dialog" aria-labelledby="videoPopupModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tutorial Video</h5>
        <button class="btn-close" type="button" onclick="closeVideoModal()"></button>
      </div>
      <div class="modal-body">
        <video id="totVideo" controls width="100%" autoplay loop muted>
          <source src="videos/ESG_Risk_Viewer_Video_Presentation_Final.mp4" type="video/mp4">
        </video>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> -->
<%# } %>
</div>
<!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 footer-copyright">
          <p class="mb-0">Copyright 2024-25 © ESG Risk Viewer All rights reserved. Platform version: 2024.01</p>
        </div>
        <!-- <div class="col-md-6">
          <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
        </div> -->
      </div>
    </div>
  </footer>
</div>
</div>
<!-- feather icon js-->
<script src="/js/icons/feather-icon/feather.min.js"></script>
<script src="/js/icons/feather-icon/feather-icon.js"></script>
<!-- Sidebar jquery-->
<script src="/js/sidebar-menu.js"></script>
<script src="/js/config.js"></script>
<!-- Bootstrap js-->
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- Plugins JS start-->
<script src="/js/chart/chartist/chartist.js"></script>
<script src="/js/chart/chartist/chartist-plugin-tooltip.js"></script>
<script src="/js/chart/knob/knob.min.js"></script>
<script src="/js/chart/knob/knob-chart.js"></script>
<script src="/js/chart/apex-chart/apex-chart.js"></script>
<script src="/js/chart/apex-chart/stock-prices.js"></script>
<script src="/js/prism/prism.min.js"></script>
<script src="/js/clipboard/clipboard.min.js"></script>
<script src="/js/counter/jquery.waypoints.min.js"></script>
<script src="/js/counter/jquery.counterup.min.js"></script>
<script src="/js/counter/counter-custom.js"></script>
<script src="/js/custom-card/custom-card.js"></script>
<script src="/js/notify/bootstrap-notify.min.js"></script>
<script src="/js/vector-map/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-world-mill-en.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-us-aea-en.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-uk-mill-en.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-au-mill.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-in-mill.js"></script>
<script src="/js/vector-map/map/jquery-jvectormap-asia-mill.js"></script>
<script src="/js/dashboard/default.js"></script>
<script src="/js/notify/index.js"></script>
<script src="/js/datepicker/date-picker/datepicker.js"></script>
<script src="/js/datepicker/date-picker/datepicker.en.js"></script>
<script src="/js/datepicker/date-picker/datepicker.custom.js"></script>

<script src="/js/datatable/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatable/datatables/datatable.custom.js"></script>

<script src="/js/select2/select2.full.min.js"></script>
<script src="/js/select2/select2-custom.js"></script>

<script src="/js/tour/intro.js"></script>
<script src="/js/tour/intro-init.js"></script> 

<script src="/js/general-widget.js"></script>

<!-- <script src="/js/jsPdf/jspdf.umd.min.js"></script> -->
<script src="/js/html2Canvas/html2canvas.min.js"></script>

<script src="js/sweet-alert/sweetalert.min.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="/js/script.js"></script>
<!-- <script src="js/theme-customizer/customizer.js"></script> -->
<!-- <script src="js/theme-customizer/customizer.js"></script> -->
<!-- login js-->
<!-- Plugin used-->
<script>
  function closeVideoModal(){
    $("video")[0].pause()
    $('#videoPopupModal').modal('hide');
  }
</script>
<script>
  function routToNextPage(route,params=null,encode=false){
    // console.log(`${route}${params ? `?data=${encode ? window.btoa(params) : params}` : ''}`);
    window.location.href = `${route}${params ? `?data=${encode ? window.btoa(params) : params}` : ''}`
  }
</script>
<script>
  function checkDel(){
    if(confirm('Do you want to delete permanently?')){
      return true;
    }else{
      return false;
    }
  }
</script>
<script>
  $(".readmore-link").click( function(e) {
  // record if our text is expanded
  var isExpanded =  $(e.target).hasClass("expand");
  
  //close all open paragraphs
  $(".readmore.expand").removeClass("expand");
  $(".readmore-link.expand").removeClass("expand");
  
  // if target wasn't expand, then expand it
  if (!isExpanded){
    $( e.target ).parent( ".readmore" ).addClass( "expand" );
    $(e.target).addClass("expand");  
  } 
});
</script>

<script>
  function triggerTour(element, text){
    console.log(typeof(text), 'textType');
    if(typeof(text) == 'string'){
      introJs().setOptions({
        "dontShowAgain": true,
        steps: [
        {
          element: element,
          intro: text
        }]
      }).start();
    }else if(Array.isArray(text)){
      let i = 0, steps = [];
      for(let dt of text){
        steps.push({
          element: element[i],
          intro: dt
        })
        i++
      }
      introJs().setOptions({
        "dontShowAgain": true,
        steps: steps
      }).start();
    }
  }
</script>

<script>
    function initiate_sweet_alert(title, message, type){
      console.log('here alert inititated');
      swal(title, message, type != 'danger' ? type : 'error');
    }
</script>

</body>

</html>