<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subscription Alert</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="subMsg"></p>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button> -->
        <a href="mailto:info@esgriskviewer.com" class="btn btn-pill btn-custom">Contact Us</a>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="demo" aria-labelledby="demo">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offCanvTitl">Data Point/Information</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <div class="cust-tabs">
      <div class="cust-tab-item active">
        <a class="cust-tab-link" href="#tab1">Data Point</a>
      </div>
      <div class="cust-tab-item">
        <a class="cust-tab-link" href="#tab2">Information</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="w-100">
          <!-- <div class="scroller scroller-left float-start mt-2"><i class="fa fa-chevron-left"></i></div>
          <div class="scroller scroller-right float-end mt-2"><i class="fa fa-chevron-right"></i></div> -->
          <!-- <div class="wrapper">
            <nav class="nav nav-tabs list mt-2" id="myTab" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="public" aria-expanded="true">Data Point</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="public" aria-expanded="true">Information</a>
            </nav>
          </div> -->
          <div class="tab-content p-3" id="myTabContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upgrade your subscription to add users</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <div class="text-left p-4">
            <span class="mt-2">
              As the organisation’s Client User, you have the highest level of access. You can add other Authorised
              Users and assign
              roles.
            </span>
            <br><br>
            <span class="h5">Authorised Users’ Roles</span>
            <ul class="mt-3">
              <li><strong>“Admin Users”</strong> can create new, and manage all existing projects. They can also assign
                Authorised Users to these projects.</li>
              <li><strong>“Editors”</strong> can create new projects and manage existing projects they are assigned to.
              </li>
              <li><strong>“Viewers”</strong> can view existing projects they are assigned to.</li>
            </ul>

          </div>
          <div class="video-button" style="text-align: center;margin-top: 30px;">
            <div class="sub-info-container mb-3">
              <div class="sub-info-img">
                <img src="/images/leaf_esg.webp" alt="LEAF" width="100%" height="100%" srcset="">
              </div>
              <span class="sub-info-txt text-muted">
                Through our partner Stripe, ESG Risk Viewer will contribute a percentage of your subscription towards
                efforts to
                removing CO2 from the atmosphere
              </span>
            </div>
            <a href="/subscription/main" class="btn btn btn-danger"
              onclick="window.opener.location.href='/subscription/main';window.close();return false;">Upgrade your
              plan</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%# if(videoPopUp){ %>
  <!-- <div class="modal fade bd-example-modal-lg" id="videoPopupModal" tabindex="-1" role="dialog" aria-labelledby="videoPopupModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tutorial Video</h5>
        <button class="btn-close" type="button" onclick="closeVideoModal()"></button>
      </div>
      <div class="modal-body">
        <video id="totVideo" controls width="100%" autoplay loop muted>
          <source src="videos/ESG_Risk_Viewer_Video_Presentation_Final.mp4" type="video/mp4">
        </video>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> -->
  <%# } %>
    </div>
    <!-- footer start-->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 footer-copyright">
            <p class="mb-0">2024 © ESG Risk Viewer All rights reserved. Platform version: 2024.01</p>
          </div>
          <!-- <div class="col-md-6">
          <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
        </div> -->
        </div>
      </div>
    </footer>
    </div>
    </div>
    <!-- feather icon js-->
    <script src="/js/icons/feather-icon/feather.min.js"></script>
    <script src="/js/icons/feather-icon/feather-icon.js"></script>
    <!-- Sidebar jquery-->
    <script src="/js/sidebar-menu.js"></script>
    <script src="/js/config.js"></script>
    <!-- Bootstrap js-->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- <script src="/js/bootstrap/bootstrap.min.js"></script> -->
    <!-- Plugins JS start-->
    <script src="/js/chart/chartist/chartist.js"></script>
    <script src="/js/chart/chartist/chartist-plugin-tooltip.js"></script>
    <script src="/js/chart/knob/knob.min.js"></script>
    <script src="/js/chart/knob/knob-chart.js"></script>
    <script src="/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/js/prism/prism.min.js"></script>
    <script src="/js/clipboard/clipboard.min.js"></script>
    <script src="/js/counter/jquery.waypoints.min.js"></script>
    <script src="/js/counter/jquery.counterup.min.js"></script>
    <script src="/js/counter/counter-custom.js"></script>
    <script src="/js/custom-card/custom-card.js"></script>
    <script src="/js/notify/bootstrap-notify.min.js"></script>
    <script src="/js/vector-map/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-uk-mill-en.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-au-mill.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-in-mill.js"></script>
    <script src="/js/vector-map/map/jquery-jvectormap-asia-mill.js"></script>
    <script src="/js/dashboard/default.js"></script>
    <script src="/js/notify/index.js"></script>
    <script src="/js/datepicker/date-picker/datepicker.js"></script>
    <script src="/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="/js/datepicker/date-picker/datepicker.custom.js"></script>

    <script src="/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatable/datatables/datatable.custom.js"></script>

    <script src="/js/select2/select2.full.min.js"></script>
    <script src="/js/select2/select2-custom.js"></script>

    <!-- TOUR GUIDE -->
    <!-- <script src="/js/tour/intro.js"></script>
<script src="/js/tour/intro-init.js"></script>  -->
    <!-- END -->

    <script src="/js/general-widget.js"></script>

    <!-- <script src="/js/jsPdf/jspdf.umd.min.js"></script> -->
    <script src="/js/html2Canvas/html2canvas.min.js"></script>

    <script src="js/sweet-alert/sweetalert.min.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/js/script.js"></script>
    <!-- <script src="js/theme-customizer/customizer.js"></script> -->
    <!-- <script src="js/theme-customizer/customizer.js"></script> -->
    <!-- login js-->
    <!-- Plugin used-->
    <script>
      function closeVideoModal() {
        $("video")[0].pause()
        $('#videoPopupModal').modal('hide');
      }
    </script>
    <script>
      function routToNextPage(route, params = null, encode = false) {
        // console.log(`${route}${params ? `?data=${encode ? window.btoa(params) : params}` : ''}`);
        window.location.href = `${route}${params ? `?data=${encode ? window.btoa(params) : params}` : ''}`
      }
    </script>
    <script>
      function checkDel() {
        if (confirm('Do you want to delete permanently?')) {
          return true;
        } else {
          return false;
        }
      }
    </script>
    <script>
      $(".readmore-link").click(function (e) {
        // record if our text is expanded
        var isExpanded = $(e.target).hasClass("expand");

        //close all open paragraphs
        $(".readmore.expand").removeClass("expand");
        $(".readmore-link.expand").removeClass("expand");

        // if target wasn't expand, then expand it
        if (!isExpanded) {
          $(e.target).parent(".readmore").addClass("expand");
          $(e.target).addClass("expand");
        }
      });
    </script>

    <script>
      function triggerTour(element, text) {
        console.log(typeof (text), 'textType');
        if (typeof (text) == 'string') {
          introJs().setOptions({
            "dontShowAgain": true,
            steps: [
              {
                element: element,
                intro: text
              }]
          }).start();
        } else if (Array.isArray(text)) {
          let i = 0, steps = [];
          for (let dt of text) {
            steps.push({
              element: element[i],
              intro: dt
            })
            i++
          }
          introJs().setOptions({
            "dontShowAgain": true,
            steps: steps
          }).start();
        }
      }
    </script>

    <script>
      function initiate_sweet_alert(title, message, type) {
        // console.log('here alert inititated');
        // swal(title, message, type != 'danger' ? type : 'error');
        swal(message, '', type != 'danger' ? type : 'error');
      }
      function inititate_sweet_conf_alert(title, text) {
        return new Promise((resolve, reject) => {
          swal({
            title: title,
            text: text,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          }).then((willDelete) => {
            if (willDelete) {
              resolve(1);
            } else {
              resolve(0);
            }
          });
        })
      }
    </script>

    <script>
      function arrangeModalArrow() {
        var hidWidth;
        var scrollBarWidths = 40;

        var widthOfList = function () {
          var itemsWidth = 0;
          $('.list .nav-item').each(function () {
            var itemWidth = $(this).outerWidth();
            itemsWidth += itemWidth;
          });
          return itemsWidth;
        };

        var widthOfHidden = function () {
          var ww = 0 - $('.wrapper').outerWidth();
          var hw = (($('.wrapper').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
          var rp = $(document).width() - ($('.nav-item .nav-link').last().offset().left + $('.nav-item .nav-link').last().outerWidth());

          if (ww > hw) {
            //return ww;
            return (rp > ww ? rp : ww);
          }
          else {
            //return hw;
            return (rp > hw ? rp : hw);
          }
        };

        var getLeftPosi = function () {
          var ww = 0 - $('.wrapper').outerWidth();
          var lp = $('.list').position().left;

          if (ww > lp) {
            return ww;
          } else {
            return lp;
          }
        };

        var reAdjust = function () {
          // check right pos of last nav item
          var rp = $(document).width() - ($('.nav-item .nav-link').last().offset().left + $('.nav-item .nav-link').last().outerWidth());
          if (($('.wrapper').outerWidth()) < widthOfList() && (rp < 0)) {
            $('.scroller-right').show().css('display', 'flex');
          }
          else {
            $('.scroller-right').hide();
          }

          if (getLeftPosi() < 0) {
            $('.scroller-left').show().css('display', 'flex');
          }
          else {
            $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, 'slow');
            $('.scroller-left').hide();
          }
        }
        if ($('.nav-item .nav-link').length > 0) {
          console.log($('.nav-item .nav-link').length, '++++++++++++++++++++');

          reAdjust();
        }

        $(window).on('resize', function (e) {
          reAdjust();
        });

        $('.scroller-right').click(function () {
          $('.scroller-left').fadeIn('slow');
          $('.scroller-right').fadeOut('slow');

          $('.list').animate({ left: "+=" + widthOfHidden() + "px" }, 'slow', function () {
            reAdjust();
          });
        });

        $('.scroller-left').click(function () {
          $('.scroller-right').fadeIn('slow');
          $('.scroller-left').fadeOut('slow');

          $('.list').animate({ left: "-=" + getLeftPosi() + "px" }, 'slow', function () {
            reAdjust();
          });
        });
      }
    </script>

    <script>
      // $('#myTab a').on('click', function(){
      //   console.log($(this).attr('href'))
      //   var act_id = $(this).attr('href').split('#').join('')
      //   $('#myTab a').each((i, dt) => {
      //     $(dt).removeClass('active')
      //   })
      //   $(this).addClass('active')
      //   $('#myTabContent .tab-pane').each((i, dt) => {
      //     console.log($(dt).attr('class'), $(dt).attr('id'), act_id);
      //     if($(dt).attr('id') == act_id){
      //       if(!$(dt).hasClass('active'))
      //         $(dt).addClass('active').addClass('show')
      //     }else{
      //       $(dt).removeClass('active').removeClass('show')
      //     }
      //   })
      // })

      $('.cust-tab-item a').on('click', function () {
        console.log($(this).attr('href'))
        var act_id = $(this).attr('href').split('#').join('')
        $('.cust-tab-item').each((i, dt) => {
          $(dt).removeClass('active')
        })
        $(this).parent().addClass('active')
        $('#myTabContent .cust-first-tab').each((i, dt) => {
          console.log($(dt).attr('class'), $(dt).attr('id'), act_id);
          if ($(dt).attr('id') == act_id) {
            if (!$(dt).hasClass('active'))
              $(dt).addClass('active').addClass('show')
          } else {
            $(dt).removeClass('active').removeClass('show')
          }
        })
      })
      function clickTabPoint(e) {
        console.log($(e).attr('href'))
        var act_id = $(e).attr('href').split('#').join('')
        $('#infoTab a').each((i, dt) => {
          $(dt).removeClass('active')
        })
        $(e).addClass('active')
        $('#infoTabContent .tab-pane').each((i, dt) => {
          console.log($(dt).attr('class'), $(dt).attr('id'), act_id);
          if ($(dt).attr('id') == act_id) {
            if (!$(dt).hasClass('active'))
              $(dt).addClass('active').addClass('show')
          } else {
            $(dt).removeClass('active').removeClass('show')
          }
        })
      }
    </script>


    <script>
      // Initialize select2
      $(document).ready(function() {
        $('#top-proj-id, .custSelect2').select2({
          placeholder: "-- Select an option --",
          allowClear: false,
          theme: "bootstrap-5"
        });
        // $('.custSelect2').select2({
        //   placeholder: "-- Select an option --",
        //   allowClear: false,
        //   theme: "bootstrap-5"
        // });
      });

      // Handle framework change
      $('#top-proj-id').on('change', async function () {
        try {
          if (await inititate_sweet_conf_alert('', 'Are you sure to change the framework?') > 0) {
            if ($(this).val() != '') {
              window.location.href = `/my_project?flag=${$(this).val()}`
            }
          } else {
            $(this).val('').trigger('change.select2'); // Reset select2 selection
          }
        } catch (e) {
          console.log(e);
        }
      });
    </script>

    <script>
      $(document).ready(function () {
        if ($('#custActMenuProject').length > 0) {
          $('#custActMenuProject').addClass('active').click()
        }
      })
    </script>
    <script>
      async function openNewWindow() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
      }
    </script>

    </body>

    </html>