</div>
</section>
<!-- page-wrapper end-->
 <!-- feather icon js-->
 <script src="js/icons/feather-icon/feather.min.js"></script>
 <script src="js/icons/feather-icon/feather-icon.js"></script>
 <!-- Sidebar jquery-->
 <!-- <script src="js/sidebar-menu.js"></script> -->
 <script src="js/config.js"></script>
 <!-- Bootstrap js-->
 <script src="js/bootstrap/popper.min.js"></script>
 <script src="js/bootstrap/bootstrap.min.js"></script>
 <!-- Plugins JS start-->
 <script src="js/sweet-alert/sweetalert.min.js"></script>
 <!-- <script src="js/sweet-alert/app.js"></script> -->
 <!-- <script src="js/popover-custom.js"></script> -->
 <!-- Plugins JS start-->
 <!-- Plugins JS Ends-->
 <!-- Theme js-->
 <script src="js/script.js"></script>
 <!-- <script src="js/theme-customizer/customizer.js"></script> -->
 <!-- login js-->
 <!-- Plugin used-->
 <link href="css/pincode-input.css" rel="stylesheet">
<script type="text/javascript" src="js/pincode-input.js"></script>
<script>
    $(document).ready(function() {
        var key = ''
        $('#modal-default').on('keydown', function(event) {
            key = ''
            if (event.key === "Escape") {
                key = event.key
                console.log('HERE');
                event.preventDefault();  // Prevent the default action of the Escape key
                event.stopPropagation(); // Stop the event from bubbling 
            }
        });

        $('#modal-default').on('hide.bs.modal', function (e) {
            if (key === "Escape") {
                e.preventDefault();
            }
        });
    });
</script>
 <script>
    $('.showPass').on('click', function(){
        if($('input[name="password"]').attr('type') == 'password'){
            $('input[name="password"]').removeAttr('type')
            $('input[name="password"]').attr('type', 'text')
            $('.showPass >').remove()
            $(this).append('<i class="icofont icofont-eye-blocked"></i>')
        }else{
            $('input[name="password"]').removeAttr('type')
            $('input[name="password"]').attr('type', 'password')
            $('.showPass >').remove()
            $(this).append('<i class="icofont icofont-eye"></i>')
        }
        
    })
 </script>
 <script>
    $('.show-pass i').on('click', function(){
        var input_type = $(this).parent().parent().parent().find('input').attr('type'),
        input_id = $(this).parent().parent().parent().find('input').attr('id');
        if(input_type != 'text'){
            $(`#${input_id}`).removeAttr('type')
            $(`#${input_id}`).attr('type', 'text')
            $(this).removeClass('icofont-eye')
            $(this).addClass('icofont-eye-blocked')
        }else{
            $(`#${input_id}`).removeAttr('type')
            $(`#${input_id}`).attr('type', 'password')
            $(this).removeClass('icofont-eye-blocked')
            $(this).addClass('icofont-eye')
        }
      console.log();
    })
 </script>
 <script>
    $('#signInBtn').on('click', function(){
        $.ajax({
            method:'POST',
            url: '/chk_user_login',
            data: {email: $('#logEmail').val(), password: $('#logPass').val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                if(res.suc > 0){
                    if(res.msg.user_type != 'S'){
                        $('#modal-default').modal('show');
                        $.fn.modal.prototype.constructor.Constructor.Default.keyboard = false;
                        $('#pin').val(res.pin)
                        // var pin = res.pin;
                        // console.log(pin, 'PIN');
                        $('#pincode-input1').pincodeInput({
                            hidedigits: false, complete: function (value, e, errorElement) {
                                $('.first').focusin()
                                $("#pincode-callback").html("This is the 'complete' callback firing. Current value: " + value);
                                
                                var pin = $('#pin').val();
                                if (value != pin) {
                                    $(errorElement).html("You have entered an incorrect access code.");
                                    return false;
                                } else {
                                    $('#modal-default').modal('hide');
                                    // console.log($('#rem_me').is(':checked'))
                                    $('#rem_me_val').val($('#rem_me').is(':checked') ? 'Y' : 'N')
                                    $(errorElement).empty();
                                    $('#loginForm').submit();
                                    return true;
                                }

                            }
                        });
                    }else{
                        $('#loginForm').submit()
                    }
                }else{
                    initiate_sweet_alert('Login Alert', res.msg, 'warning')
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
 </script>
 <script>
    // $(document).ready(function(){
        function initiate_sweet_alert(title, message, type){
            swal(title, message, type);
        }
    // })
 </script>
 <script>
    $(document).ready(function() {
        var chk1 = chk2 = chk3 = chk4 = chk5 = false;
      const passwordInput = $('#pass');
      const popoverTemplate = `
        <div class="popover" role="tooltip" id="password-popover">
          <div class="popover-body"><b>Password</b></div>
        </div>
      `;

      passwordInput.popover({
        trigger: 'manual',
        placement: 'right',
        html: true,
        content: '',
        template: popoverTemplate
      });

      passwordInput.on('focus', function() {
        const password = $(this).val();
        let strength = 'Password must contain:\n';
        strength += `<ul>
              <li id="lowercase" class="cross">At least one lowercase letter</li>
              <li id="uppercase" class="cross">At least one uppercase letter</li>
              <li id="number" class="cross">At least one number</li>
              <li id="special" class="cross">At least one special character</li>
              <li id="length" class="cross">Minimum length of 8 characters</li>
            </ul>`

        // if (!/[a-z]/.test(password)) strength += ' - At least one lowercase letter\n';
        // if (!/[A-Z]/.test(password)) strength += ' - At least one uppercase letter\n';
        // if (!/[0-9]/.test(password)) strength += ' - At least one number\n';
        // if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) strength += ' - At least one special character\n';
        // if (password.length < 8) strength += ' - Minimum length of 8 characters\n';

        // if (strength === 'Password must contain:\n') {
        //   passwordInput.popover('hide');
        // } else {
          passwordInput.attr('data-bs-content', strength);
          passwordInput.popover('show');
        // }
      });

      passwordInput.on('input', function() {
        const password = $(this).val();
        // Validate password and update list items
        updatePopoverItem(password, /[a-z]/, '#lowercase');
        updatePopoverItem(password, /[A-Z]/, '#uppercase');
        updatePopoverItem(password, /[0-9]/, '#number');
        updatePopoverItem(password, /[!@#$%^&*(),.?":{}|<>]/, '#special');
        updatePopoverItem(password, /.{8,}/, '#length');

        var regExp = /[a-z][A-Z][0-9][!@#$%^&*(),.?":{}|<>].{8,}/
        console.log(regExp.test(password));
      })

      passwordInput.on('blur', function() {
        passwordInput.popover('hide');
      });

      function updatePopoverItem(password, regex, elementId) {
        console.log(elementId);
        if (regex.test(password)) {
          $(elementId).removeClass('cross').addClass('tick');
        } else {
          $(elementId).removeClass('tick').addClass('cross');
        }
      }
    });
 </script>
</body>
</html>