<!-- Page Sidebar Start-->
<header class="main-nav">
    <nav>
      <div class="main-navbar">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="mainnav">
          <ul class="nav-menu custom-scrollbar">
            <li class="back-btn">
              <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                  aria-hidden="true"></i></div>
            </li>
            <!-- <li class="sidebar-main-title">
              <div>
                <h6>General </h6>
              </div>
            </li> -->
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/dashboard">
              <i class="icofont icofont-dashboard m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Dashboard</span></a>
            </li>
            <% if(user.user_type == 'S'){ %>
            <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Master</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/sector">Sector</a></li>
                <li><a href="/industries">Industries</a></li>
                <li><a href="/topic_catg">Topic Category</a></li>
                <li><a href="/topic">Topic</a></li>
                <li><a href="/busi_act">Business Activities (NACE)</a></li>
              </ul>
            </li>

            <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-cubes m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Data Collection</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/sus_disc">Sustainability Disclosure</a></li>
                <li><a href="/act_metric">Activity Metrics</a></li>
                <li><a href="/dynamic_entry_view">Data Entry</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/client">
              <i class="icofont icofont-businessman m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Add Client</span></a></li>
            <% } %>
            <% if(user.user_type == 'C' || user.user_type == 'A' || user.user_type == 'E' || user.user_type == 'V'){ %>
              <% if(user.user_type == 'C') { %>
              <!-- <li class="dropdown"><a class="nav-link menu-title link-nav" href="/subscription"><i
                data-feather="subscription"></i><span class="cusSpanNavLink">My Subscriptions</span></a></li> -->
              <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/manage_user">
                <i class="icofont icofont-users-alt-3 m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Manage Users</span></a></li>
              <% } %>
              <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/my_project">
                <i class="icofont icofont-ui-social-link m-r-20 cusINavLink"></i><span class="cusSpanNavLink">My Projects</span></a></li>
              <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
                <i class="icofont icofont-ui-file m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Reports</span></a>
                <ul class="nav-submenu menu-content">
                  <li><a href="javascript:void(0)">IFRS</a></li>
                  <li><a href="javascript:void(0)">GRI</a></li>
                  <li><a href="javascript:void(0)">TCFD</a></li>
                  <li><a href="javascript:void(0)">ESRS</a></li>
                  <li><a href="javascript:void(0)">SECR</a></li>
                </ul>
              </li>
            <% } %>
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/support">
              <i class="icofont icofont-live-support m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Support</span></a></li>
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/log_out">
              <i class="icofont icofont-sign-out m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Sign out</span></a>
            </li>
            <!-- <li class="dropdown"><a class="nav-link menu-title link-nav" href="/img_upload"><i
                data-feather="img_upload"></i><span>Image Gallery</span></a></li> -->
          </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
      </div>
    </nav>
  </header>
  <!-- Page Sidebar Ends-->