<!-- Page Sidebar Start-->
<header class="main-nav overflow-auto">
    <nav>
      <div class="main-navbar">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="mainnav" class="customNav">
          <ul class="nav-menu custom-scrollbar">
            <li class="back-btn">
              <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                  aria-hidden="true"></i></div>
            </li>
            <!-- <li class="sidebar-main-title">
              <div>
                <h6>General </h6>
              </div>
            </li> -->
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/dashboard">
              <i class="icofont icofont-dashboard m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Dashboard</span></a>
            </li>
            <% if(user.user_type == 'S'){ %>
            <!-- <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Master</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/sector">Sector</a></li>
                <li><a href="/industries">Industries</a></li>
                <li><a href="/topic_catg">Topic Category</a></li>
                <li><a href="/topic">Topic</a></li>
                <li><a href="/busi_act">Business Activities (NACE)</a></li>
              </ul>
            </li> -->
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_I.png" class="icon-img-single" alt="I">IFRS</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=SQ%3D%3D">Sector</a></li>
                            <li><a href="/industries?flag=SQ%3D%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=SQ%3D%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=SQ%3D%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=SQ%3D%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=SQ%3D%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=SQ%3D%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=SQ%3D%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=SQ%3D%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=SQ%3D%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=SQ%3D%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=SQ%3D%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=SQ%3D%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_IF.png" class="icon-img-dual" alt="IF">IFRS - French</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=SUY%3D">Sector</a></li>
                            <li><a href="/industries?flag=SUY%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=SUY%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=SUY%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=SUY%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=SUY%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=SUY%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=SUY%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=SUY%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=SUY%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=SUY%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=SUY%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=SUY%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_E.png" class="icon-img-single" alt="E">ESRS</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=RQ%3D%3D">Sector</a></li>
                            <li><a href="/industries?flag=RQ%3D%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=RQ%3D%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=RQ%3D%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=RQ%3D%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=RQ%3D%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=RQ%3D%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=RQ%3D%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=RQ%3D%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=RQ%3D%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=RQ%3D%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=RQ%3D%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=RQ%3D%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_EF.png" class="icon-img-dual" alt="EF">ESRS - French</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=RUY%3D">Sector</a></li>
                            <li><a href="/industries?flag=RUY%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=RUY%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=RUY%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=RUY%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=RUY%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=RUY%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=RUY%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=RUY%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=RUY%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=RUY%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=RUY%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=RUY%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- -------- -->
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_EV.png" class="icon-img-dual" alt="EV">ESRS VSME</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=RVY%3D">Sector</a></li>
                            <li><a href="/industries?flag=RVY%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=RVY%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=RVY%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=RVY%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=RVY%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=RVY%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=RVY%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=RVY%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=RVY%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=RVY%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=RVY%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=RVY%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_EVF.png" class="icon-img-dual" alt="EVF">ESRS VSME - French</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=RVZG">Sector</a></li>
                            <li><a href="/industries?flag=RVZG">Industries</a></li>
                            <li><a href="/topic_catg?flag=RVZG">Topic Category</a></li>
                            <li><a href="/topic?flag=RVZG">Topic</a></li>
                            <li><a href="/busi_act?flag=RVZG">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=RVZG">Notes</a></li>
                            <li><a href="/data_point_entry?flag=RVZG">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=RVZG">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=RVZG">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=RVZG">Word Info</a></li>
                            <li><a href="/act_metric?flag=RVZG">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=RVZG">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=RVZG">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- ----------- -->
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_G.png" class="icon-img-single" alt="G">GRI</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=Rw%3D%3D">Sector</a></li>
                            <li><a href="/industries?flag=Rw%3D%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=Rw%3D%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=Rw%3D%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=Rw%3D%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=Rw%3D%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=Rw%3D%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=Rw%3D%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=Rw%3D%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=Rw%3D%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=Rw%3D%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=Rw%3D%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=Rw%3D%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="mega-menu"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <span class="cusSpanNavLink"><img src="/images/icon_GF.png" class="icon-img-dual" alt="GF">GRI - French</span></a>
              <div class="mega-menu-container menu-content">
                <div class="container">
                  <div class="row">
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-ui-settings m-r-20 cusINavLink"></i> Master</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sector?flag=Rg%3D%3D">Sector</a></li>
                            <li><a href="/industries?flag=Rg%3D%3D">Industries</a></li>
                            <li><a href="/topic_catg?flag=Rg%3D%3D">Topic Category</a></li>
                            <li><a href="/topic?flag=Rg%3D%3D">Topic</a></li>
                            <li><a href="/busi_act?flag=Rg%3D%3D">Business Activities (NACE)</a></li>
                            <li><a href="/met_note?flag=Rg%3D%3D">Notes</a></li>
                            <li><a href="/data_point_entry?flag=Rg%3D%3D">Data Point</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col mega-box">
                      <div class="link-section">
                        <div class="submenu-title">
                          <h5><i class="icofont icofont-cubes m-r-20 cusINavLink"></i> Data Collection</h5>
                        </div>
                        <div class="submenu-content opensubmegamenu">
                          <ul>
                            <li><a href="/sus_disc?flag=Rg%3D%3D">Sustainability Disclosure</a></li>
                            <li><a href="/sus_disc_info?flag=Rg%3D%3D">Sustainability Disclosure Info</a></li>
                            <li><a href="/sus_disc_word_info?flag=Rg%3D%3D">Word Info</a></li>
                            <li><a href="/act_metric?flag=Rg%3D%3D">Activity Metrics</a></li>
                            <!-- <li><a href="/dynamic_entry_view?flag=Rg%3D%3D">Data Entry</a></li> -->
                            <li><a href="/risk_opr?flag=Rg%3D%3D">Risk and Opportunities</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-cubes m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Data Collection</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/sus_disc">Sustainability Disclosure</a></li>
                <li><a href="/act_metric">Activity Metrics</a></li>
                <li><a href="/dynamic_entry_view">Data Entry</a></li>
              </ul>
            </li> -->
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/client">
              <i class="icofont icofont-businessman m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Client</span></a></li>
            <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-calculator m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Calculator</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/unit?flag=RQ%3D%3D">Unit</a></li>
                <li><a href="/cal_type?flag=RQ%3D%3D">Type</a></li>
                <li><a href="/cal_act?flag=RQ%3D%3D">Activity</a></li>
                <li><a href="/cal_emi_type?flag=RQ%3D%3D">Emission Type</a></li>
                <li><a href="/cal_emi_val?flag=RQ%3D%3D">Emission Value</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
              <i class="icofont icofont-calculator m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Calculator-FR</span></a>
              <ul class="nav-submenu menu-content">
                <li><a href="/unit?flag=Rg%3D%3D">Unit</a></li>
                <li><a href="/cal_type?flag=Rg%3D%3D">Type</a></li>
                <li><a href="/cal_act?flag=Rg%3D%3D">Activity</a></li>
                <li><a href="/cal_emi_type?flag=Rg%3D%3D">Emission Type</a></li>
                <li><a href="/cal_emi_val?flag=Rg%3D%3D">Emission Value</a></li>
              </ul>
            </li>
            <% } %>
            <% if(user.user_type == 'C' || user.user_type == 'A' || user.user_type == 'E' || user.user_type == 'V'){ %>
              <% if(user.user_type == 'C') { %>
              <!-- <li class="dropdown"><a class="nav-link menu-title link-nav" href="/subscription"><i
                data-feather="subscription"></i><span class="cusSpanNavLink">My Subscriptions</span></a></li> -->
              <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/manage_user">
                <i class="icofont icofont-users-alt-3 m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Manage Users</span></a></li>
              <% } %>
              <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
                <i class="icofont icofont-ui-social-link m-r-20 cusINavLink"></i><span class="cusSpanNavLink">My Projects</span></a>
                <ul class="nav-submenu menu-content">
                  <% if(user.ifrs_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=SQ%3D%3D">IFRS</a></li>
                  <% } %>
                  <% if(user.ifrs_fr_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=SUY%3D">IFRS - French</a></li>
                  <% } %>
                  <% if(user.esrs_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=RQ%3D%3D">ESRS</a></li>
                  <% } %>
                  <% if(user.esrs_fr_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=RUY%3D">ESRS - French</a></li>
                  <% } %>
                  <% if(user.esrs_vsme_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=RVY%3D">ESRS VSME</a></li>
                  <% } %>
                  <% if(user.esrs_vsme_fr_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=RVZG">ESRS VSME - French</a></li>
                  <% } %>
                  <% if(user.gri_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=Rw%3D%3D">GRI</a></li>
                  <% } %>
                  <% if(user.gri_fr_flag == 'Y'){ %>
                    <li><a href="/my_project?flag=Rg%3D%3D">GRI - French</a></li>
                  <% } %>
                </ul>
              </li>
              <!-- <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/my_project">
                <i class="icofont icofont-ui-social-link m-r-20 cusINavLink"></i><span class="cusSpanNavLink">My Projects</span></a></li> -->
              <!-- <li class="dropdown"><a class="nav-link menu-title cusANavLink" href="javascript:void(0)">
                <i class="icofont icofont-ui-file m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Reports</span></a>
                <ul class="nav-submenu menu-content">
                  <li><a href="javascript:void(0)">IFRS</a></li>
                  <li><a href="javascript:void(0)">ESRS</a></li>
                  <li><a href="javascript:void(0)">GRI</a></li>
                  <li><a href="javascript:void(0)">GRI - French</a></li>
                </ul>
              </li> -->
            <% } %>
            <li class="dropdown"><a class="nav-link menu-title link-nav cusANavLink" href="/support">
              <i class="icofont icofont-live-support m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Support</span></a></li>
            <!-- <li class="dropdown signOut"><a class="nav-link menu-title link-nav cusANavLink" href="/log_out">
              <i class="icofont icofont-sign-out m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Sign out</span></a>
            </li> -->
            <!-- <li class="dropdown"><a class="nav-link menu-title link-nav" href="/img_upload"><i
                data-feather="img_upload"></i><span>Image Gallery</span></a></li> -->
          </ul>
          <ul class="nav-menu">
            <li class="back-btn">
              <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                  aria-hidden="true"></i></div>
            </li>
            <li class="dropdown signOut"><a class="nav-link menu-title link-nav cusANavLink" href="/log_out">
              <i class="icofont icofont-sign-out m-r-20 cusINavLink"></i><span class="cusSpanNavLink">Sign out</span></a>
            </li>
          </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
      </div>
    </nav>
  </header>
  <!-- Page Sidebar Ends-->