<div class="default-according style-2" id="inExpoAccordionoc">
    <div class="row">
        <div class="col-md-12">
            <%- risk_info_dt.length > 0 ? risk_info_dt[0].risk_info : '<p class="text-center text-danger">NO DATA FOUND</p>' %>
        </div>
    </div>
</div>