<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add/Edit Topic Category</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/topic_catg">Topic Category Dashboard</a></li>
                    <li class="breadcrumb-item">Add/Edit Topic Category</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/topic_catg_save" class="needs-validation" novalidate="">
                <div class="row g-3 py-3">
                    <div class="col-md-12">
                    <label class="form-label" for="catg_name">Category name</label>
                    <input class="form-control" id="catg_name" name="catg_name" type="text" value="<%= id > 0 ? data.msg[0].catg_name : '' %>" required="">
                    <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../templates/footer.ejs') %>