<%- include('../templates/header.ejs', {header: "Dashboard", header_url: "/dashboard", sub_header: `${header} (${flag_name})`, sub_header_url: header_url, sub_sub_header: `"${projName}"`, show_br: true}) %>

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12" id="myHeader">
                <ul class="nav nav-tabs border-tab nav-primary" id="info-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link" id="dash-top-tab" data-bs-toggle="pill" href="#dash-top" role="tab" aria-controls="dash-top" aria-selected="false">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" id="ghg-tab" data-bs-toggle="pill" href="#ghg" role="tab" aria-controls="ghg" aria-selected="true">GHG Emissions</a></li>
                    <li class="nav-item"><a class="nav-link" id="trans-plan-tab" data-bs-toggle="pill" href="#trans-plan" role="tab" aria-controls="trans-plan" aria-selected="false">Transition Plan</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card_body_Cus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-xl-12 xl-100">
                            <div class="tab-content" id="pills-icontabContent">
                                <div class="tab-pane fade" id="dash-top" role="tabpanel" aria-labelledby="dash-top-tab">
                                    <div class="row m-3">
                                        <div class="col-md-12">
                                            <%- include('cal_dashboard') %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="ghg" role="tabpanel" aria-labelledby="ghg-tab">
                                    <!-- <div class="row m-3">
                                        <div class="col-md-12"> -->
                                            <%- include('quest_entry', {scope_list, cal_act, year_list}) %>
                                        <!-- </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane fade" id="trans-plan" role="tabpanel" aria-labelledby="trans-plan-tab">
                                    <div class="row m-3">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga molestiae suscipit fugiat error, consectetur ipsa tempora rem autem omnis ab? Temporibus accusantium consectetur officia obcaecati itaque saepe ipsam amet voluptate?
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt magni iste possimus harum explicabo aut quia doloremque. Officiis quae explicabo rem odio tempore non dolores quo inventore quos. Ea, omnis.
                                            </p>
                                            <%# include('dynamic_data_exposer', {allDynamicData, data_set, lang}) %>
                                            <%# include('risk_ino_dtls', {risk_info_dt, lang}) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky_esg");
      } else {
        header.classList.remove("sticky_esg");
      }
    }
</script> -->

<%- include('../templates/footer.ejs') %>