<%- include('../templates/login_header.ejs') %>
<style>
  .show-hide span {
    font-size: 20px !important;
  }
</style>
<div class="row login_back_color">
    <div class="col-12">
      <div class="login-card">
        <form class="theme-form login-form" action="/forgot_pass" method="POST">
          <% if(message){ %>
          <!-- <div class="alert alert-<%# message.type %> outline alert-dismissible fade show" role="alert" style="border-width: 3px;width: 32vw;">
           
            <p style=" text-align: center;
            font-size: 17px;"><i data-feather="clock"></i>&nbsp;&nbsp;<%# message.message %></p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" style="top: 5px;"></button>
          </div> -->
          <% } %>
          <img width="100%" height="100%" src="images/logo_white.png" alt="">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="my-4">
                    <span class="h3 text-white text-center">2-Step Verification</span>
                </div>
              <div class="form-group mt-3">
                <div class="input-group">
                    <span class="input-group-text bg-white"><i class="icofont icofont-ui-user"></i></span>
                    <input class="form-control loginInput" type="number" name="number" required="" maxlength="4" placeholder="Enter OTP">
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-block lginBtn" type="submit">Submit</button>
                  </div>
                </div>
              </div>
              <div class="form-group mt-0 pt-0">
                <a class="link text-white text-center LoginFpText" href="/login">Resend</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('../templates/login_footer.ejs') %>