<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6 row">
                <!-- <div class="col-md-4">
                    <h5 class="text-muted mt-2"><%= header %></h5>
                </div> -->
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><%= header %></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card card-form">
           <h5>Coming Soon!</h5>
        </div>
    </div>
</div>

<%- include('../templates/footer.ejs') %>