<%- include('../templates/login_header.ejs') %>
<style>
  .show-hide span {
    font-size: 20px !important;
  }
</style>
<div class="page-wrapper">
        <div class="sing-up-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-brand-logo">
                            <a href="#"><img src="latest/img/logo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="sing-up-form">
                            <div class="sing-up-form-card">
                                <div class="sing-up-form-title">
                                    <h2>Sign in to your account</h2>
                                </div>
                                <form class="theme-form login-form" id="loginForm" action="/reset_pass" method="POST">
                                    <% if(message){
                                        let imgName = ''
                                        if(message.type == 'success'){
                                            imgName = 'checkmark.png'
                                        }else{
                                            imgName = 'cross.png'
                                        } %>
                                        <div class="row mb-3">
                                            <div class="col-md-12 text-center border p-2">
                                                <img src="/images/<%= imgName %>" alt="Tick" width="30px" height="30px"> &nbsp;
                                                <span><%= message.message %></span>
                                            </div>
                                        </div>
                                    <% } %>
                                            <div class="mb-3">
                                                <label for="pass" class="form-label">Password*</label>
                                                <input type="password" class="form-control loginInput example-popover showPass" name="pass" id="pass" required="" placeholder="Password" onchange="chk_pass()" aria-describedby="passwordHelp">
                                                <span toggle="#pass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>

                                            <div class="mb-3">
                                              <label for="re_pass" class="form-label">Confirm Password*</label>
                                              <input type="password" class="form-control showPass" name="re_pass" id="re_pass" required placeholder="Re-Enter Password" onchange="chk_pass()">
                                              <span toggle="#re_pass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>

                                            <button class="btn btn-primary sign-up-button lginBtn" id="signInBtn" type="submit">Submit</button>
                                </form>
                            </div>
                            <div class="signup-content">
                                <h3>Want to go back? <a href="/login">Sign In</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer">
                            <ul>
                                <li>© ESG Risk Viewer</li>
                                <li class="divider-gray">|</li>
                                <li><a href="#">Privacy & Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });
    function chk_pass(){
        var pass = $('#pass').val(),
            re_pass = $('#re_pass').val();
        console.log(pass, re_pass);
        if(pass != '' && re_pass != ''){
            if(pass != re_pass){
                alert('Password and Re-Enter password does not match')
                $('#subBtn').attr('disabled', true)
            }else{
                $('#subBtn').removeAttr('disabled')
            }
        }
    }
  </script>
<%- include('../templates/login_footer.ejs') %>