<%- include('../templates/header.ejs') %>
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6 row">
                    <!-- <div class="col-md-4">
                    <h5 class="text-muted mt-2"><%= header %></h5>
                </div> -->
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item">
                                <%= header %>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card card-form">
                <h5>Insights:</h5>
                <ul class="list_ul">
                    <li>Sustainability Reporting for SMEs: Is your Business at a Downstream or Upstream Control
                        Point? <a href="https://is.gd/UI07Hh" target="_blank">Read</a> </li>
                    <!-- <li>Materiality Assessment: Weighting the Relative Contributions of Different Stakeholder Groups.        <a href="https://is.gd/Kn3S2I" target="_blank">Read</a></li> -->
                    <li>Getting Started with GHG Emissions.<a href="https://is.gd/Kn3S2I" target="_blank">Read</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('../templates/footer.ejs') %>