<%- include('../templates/login_header.ejs') %>
    <style>
        .show-hide span {
            font-size: 20px !important;
        }
    </style>
    <div class="page-wrapper">
        <div class="sing-up-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-brand-logo">
                            <a href="#"><img src="latest/img/logo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="sing-up-form">
                            <div class="sing-up-form-card">
                                <div class="sing-up-form-title">
                                    <h2>Sign in to your account</h2>
                                </div>
                                <form class="theme-form login-form" id="loginForm" action="/login" method="POST">
                                    <% if(message){ %>
                                        <div class="alert alert-<%= message.type %>">
                                            <%= message.message %>
                                        </div>
                                        <% } %>
                                            <div class="mb-3">
                                                <label for="logEmail" class="form-label">Email*</label>
                                                <input type="email" class="form-control" id="logEmail" name="email"
                                                    placeholder="Enter your email" required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="logPass" class="form-label">Password*</label>
                                                <input id="logPass" type="password" class="form-control" name="password"
                                                    placeholder="Enter your password" required>
                                                <span toggle="#logPass"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>


                                            <div class="remember-row">
                                                <!-- <div class="form-check">
                                                    <input class="form-check-input" name="rem_me" id="rem_me_val"
                                                        type="checkbox" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Remember me
                                                    </label>
                                                </div> -->
                                                <a href="/forgot_pass">Forgot password?</a>
                                            </div>

                                            <button class="btn btn-primary sign-up-button lginBtn" id="signInBtn"
                                                type="button">Sign in</button>
                                            <div class="divider">Or</div>
                                            <div class="social-card">
                                                <a onclick="signInWithGoogle()"><img src="latest/img/social-icon.svg"
                                                        alt="">Continue with
                                                    Google</a>
                                                <a onclick="signInWithMicrosoft()"><img src="latest/img/microsoft.svg"
                                                        alt="">Continue with
                                                    Microsoft</a>
                                            </div>

                                </form>
                            </div>
                            <div class="signup-content">
                                <h3>Don't have an account? <a href="/register">Sign Up</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer">
                            <ul>
                                <li>© ESG Risk Viewer</li>
                                <li class="divider-gray">|</li>
                                <li><a href="#">Privacy & Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <center><label><b>Enter the access code</b></label></center> -->
                    <div class="row text-center">
                        <div class="col-md-12 text-center mt-3 mb-2" style="font-size: 20px; font-weight: 400;">We have sent a 6-digit
                            access code to your email. Enter the code in the fields. It may take a few minutes to arrive.
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-center"><input type="password" class="form-control-lg"
                                id="pincode-input1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" id="pinErr"></div>
                    </div>
                    <input type="hidden" id="pin">
                    <div class="row mt-3">
                        <div class="col-md-12 text-center h6">
                            Didn’t receive one? <a href="javascript:void(0)" id="resend_otp">Resend</a>
                            <!-- <div class="checkbox checkbox-primary">
                                <input id="rem_me" value="Y" type="checkbox">
                                <label for="rem_me">Remember me for 7 days.</label>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-pill btn-custom" id="modalLoginBtn" type="button"
                                style="display: none;">Sign in</button>
                        </div>
                    </div>
                    <!-- <center class="pt-3">
            <div class="bg-warning">
              <i class="fa fa-exclamation-circle text-white pr-1" aria-hidden="true"></i> 
              OTP has been send to your registered email Id.
            </div>
          </center> -->
                </div>
            </div>
        </div>
    </div>

    <script src="latest/js/jquery-3.7.1.js"></script>
    <script src="latest/js/bootstrap.bundle.min.js"></script>

    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(document).on("keypress", function (e) {
            if (e.which == 13) {
                $('#signInBtn').click()
            }
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>

    <script>
        // Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyDHYpeKnZxFL2tlrNAqM9rV8GjWmQOjoMc",
            authDomain: "esgriskviewer-4a712.firebaseapp.com",
            projectId: "esgriskviewer-4a712",
            storageBucket: "esgriskviewer-4a712.firebasestorage.app",
            messagingSenderId: "279988740260",
            appId: "1:279988740260:web:571ba101688cec1a5cc631"
        };
        firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();


        // Google Registration/Login
        async function signInWithGoogle() {
            const provider = new firebase.auth.GoogleAuthProvider();
            try {
                const result = await auth.signInWithPopup(provider);
                const idToken = await result.user.getIdToken();
                const res = await fetch('/verify-token', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ idToken })
                });
                if (res.ok) {
                    window.location.href = '/dashboard';
                } else {
                    alert('Error signing in');
                }

            } catch (err) {
                console.error(err);
            }
        }

        // Microsoft Registration/Login
        async function signInWithMicrosoft() {
            const provider = new firebase.auth.OAuthProvider('microsoft.com');
            provider.setCustomParameters({ prompt: 'select_account' });
            try {
                const result = await auth.signInWithPopup(provider);
                const idToken = await result.user.getIdToken();
                const res = await fetch('/verify-token', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ idToken })
                });
                if (res.ok) {
                    window.location.href = '/dashboard';
                } else {
                    alert('Error signing in');
                }

            } catch (err) {
                console.error(err);
            }
        }
    </script>


    <%- include('../templates/login_footer.ejs') %>