<%- include('../templates/login_header.ejs') %>
    <style>
        .show-hide span {
            font-size: 20px !important;
        }
    </style>
    <div class="page-wrapper">
        <div class="sing-up-section ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-brand-logo navbar-brand-no-gap">
                            <a href="#"><img src="latest/img/logo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="quickly-content">
                            <div class="quickly-content-list-row">
                                <span><img src="latest/img/check-mark.svg" alt=""></span>
                                <div class="quickly-content-list-content">
                                    <h3>Get started quickly</h3>
                                    <p>An easy-to-use platform with pre-built solutions to help you start your
                                        sustainability journey</p>
                                </div>
                            </div>
                            <div class="quickly-content-list-row">
                                <span><img src="latest/img/check-mark.svg" alt=""></span>
                                <div class="quickly-content-list-content">
                                    <h3>Support any sector of activity and any size</h3>
                                    <p>Consumers goods, industrial goods, infrastructure, services, transportation and
                                        more - all within a unified platform.</p>
                                </div>
                            </div>
                            <div class="quickly-content-list-row">
                                <span><img src="latest/img/check-mark.svg" alt=""></span>
                                <div class="quickly-content-list-content">
                                    <h3>Completely free</h3>
                                    <p>Our comprehensive carbon emission module is completely free.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sing-up-form sign-up-right">
                            <div class="sing-up-form-card">
                                <div class="sing-up-form-title">
                                    <h2>Create an account</h2>
                                </div>
                                <form action="/register" method="post">
                                    <% if(message){ %>
                                        <div class="alert alert-<%= message.type %>">
                                            <%= message.message %>
                                        </div>
                                        <% } %>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Enter your
                                                    name*</label>
                                                <input type="text" name="name" class="form-control"
                                                    id="exampleInputEmail1" placeholder="Name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail2" class="form-label">Enter your
                                                    email*</label>
                                                <input type="email" name="email" class="form-control"
                                                    id="exampleInputEmail2" placeholder="test@example.com" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password*</label>
                                                <input id="password-field" type="password" name="password"
                                                    class="form-control" id="exampleInputPassword1"
                                                    placeholder="************" required>
                                                <span toggle="#password-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                            <div class="mb-3">
                                                <div class="flag-icon">
                                                    <img id="selected-flag" src="latest/img/kingdom.svg" width="34">
                                                </div>
                                                <select id="country" name="country" class="form-select"
                                                    aria-label="Default select example" required>

                                                    <option value="" data-flag="unknown.png" selected>Select
                                                        Country</option>
                                                    <option value="ad" data-flag="ad.svg">
                                                        Andorra</option>
                                                    <option value="ae" data-flag="ae.svg">
                                                        United Arab
                                                        Emirates</option>
                                                    <option value="af" data-flag="af.svg">
                                                        Afghanistan
                                                    </option>
                                                    <option value="ag" data-flag="ag.svg">
                                                        Antigua and
                                                        Barbuda</option>
                                                    <option value="ai" data-flag="ai.svg">
                                                        Anguilla</option>
                                                    <option value="al" data-flag="al.svg">
                                                        Albania</option>
                                                    <option value="am" data-flag="am.svg">
                                                        Armenia</option>
                                                    <option value="ao" data-flag="ao.svg">
                                                        Angola</option>
                                                    <option value="aq" data-flag="aq.svg">
                                                        Antarctica
                                                    </option>
                                                    <option value="ar" data-flag="ar.svg">
                                                        Argentina</option>
                                                    <option value="as" data-flag="as.svg">
                                                        American Samoa
                                                    </option>
                                                    <option value="at" data-flag="at.svg">
                                                        Austria</option>
                                                    <option value="au" data-flag="au.svg">
                                                        Australia</option>
                                                    <option value="aw" data-flag="aw.svg">
                                                        Aruba</option>
                                                    <option value="ax" data-flag="ax.svg">
                                                        Åland</option>
                                                    <option value="az" data-flag="az.svg">
                                                        Azerbaijan
                                                    </option>
                                                    <option value="bs" data-flag="bs.svg">
                                                        Bahamas</option>
                                                    <option value="bh" data-flag="bh.svg">
                                                        Bahrain</option>
                                                    <option value="bd" data-flag="bd.svg">
                                                        Bangladesh
                                                    </option>
                                                    <option value="bb" data-flag="bb.svg">
                                                        Barbados</option>
                                                    <option value="by" data-flag="by.svg">
                                                        Belarus</option>
                                                    <option value="be" data-flag="be.svg">
                                                        Belgium</option>
                                                    <option value="bz" data-flag="bz.svg">
                                                        Belize</option>
                                                    <option value="bj" data-flag="bj.svg">
                                                        Benin</option>
                                                    <option value="bm" data-flag="bm.svg">
                                                        Bermuda</option>
                                                    <option value="bt" data-flag="bt.svg">
                                                        Bhutan</option>
                                                    <option value="bo" data-flag="bo.svg">
                                                        Bolivia</option>
                                                    <option value="ba" data-flag="ba.svg">
                                                        Bosnia and
                                                        Herzegovina</option>
                                                    <option value="bw" data-flag="bw.svg">
                                                        Botswana</option>
                                                    <option value="br" data-flag="br.svg">
                                                        Brazil</option>
                                                    <option value="bn" data-flag="bn.svg">
                                                        Brunei</option>
                                                    <option value="bg" data-flag="bg.svg">
                                                        Bulgaria</option>
                                                    <option value="bf" data-flag="bf.svg">
                                                        Burkina Faso
                                                    </option>
                                                    <option value="bi" data-flag="bi.svg">
                                                        Burundi</option>
                                                    <option value="kh" data-flag="kh.svg">
                                                        Cambodia</option>
                                                    <option value="cm" data-flag="cm.svg">
                                                        Cameroon</option>
                                                    <option value="ca" data-flag="ca.svg">
                                                        Canada</option>
                                                    <option value="cv" data-flag="cv.svg">
                                                        Cape Verde
                                                    </option>
                                                    <option value="cf" data-flag="cf.svg">
                                                        Central African
                                                        Republic</option>
                                                    <option value="td" data-flag="td.svg">
                                                        Chad</option>
                                                    <option value="cl" data-flag="cl.svg">
                                                        Chile</option>
                                                    <option value="cn" data-flag="cn.svg">
                                                        China</option>
                                                    <option value="co" data-flag="co.svg">
                                                        Colombia</option>
                                                    <option value="km" data-flag="km.svg">
                                                        Comoros</option>
                                                    <option value="cg" data-flag="cg.svg">
                                                        Congo</option>
                                                    <option value="cd" data-flag="cd.svg">
                                                        Congo (DRC)
                                                    </option>
                                                    <option value="cr" data-flag="cr.svg">
                                                        Costa Rica
                                                    </option>
                                                    <option value="ci" data-flag="ci.svg">
                                                        Côte d'Ivoire
                                                    </option>
                                                    <option value="hr" data-flag="hr.svg">
                                                        Croatia</option>
                                                    <option value="cu" data-flag="cu.svg">
                                                        Cuba</option>
                                                    <option value="cy" data-flag="cy.svg">
                                                        Cyprus</option>
                                                    <option value="cz" data-flag="cz.svg">
                                                        Czechia</option>
                                                    <option value="dk" data-flag="dk.svg">
                                                        Denmark</option>
                                                    <option value="dj" data-flag="dj.svg">
                                                        Djibouti</option>
                                                    <option value="dm" data-flag="dm.svg">
                                                        Dominica</option>
                                                    <option value="do" data-flag="do.svg">
                                                        Dominican Republic
                                                    </option>
                                                    <option value="ec" data-flag="ec.svg">
                                                        Ecuador</option>
                                                    <option value="eg" data-flag="eg.svg">
                                                        Egypt</option>
                                                    <option value="sv" data-flag="sv.svg">El
                                                        Salvador
                                                    </option>
                                                    <option value="gq" data-flag="gq.svg">
                                                        Equatorial Guinea
                                                    </option>
                                                    <option value="er" data-flag="er.svg">
                                                        Eritrea</option>
                                                    <option value="ee" data-flag="ee.svg">
                                                        Estonia</option>
                                                    <option value="sz" data-flag="sz.svg">
                                                        Eswatini</option>
                                                    <option value="et" data-flag="et.svg">
                                                        Ethiopia</option>
                                                    <option value="fj" data-flag="fj.svg">
                                                        Fiji</option>
                                                    <option value="fi" data-flag="fi.svg">
                                                        Finland</option>
                                                    <option value="fr" data-flag="fr.svg">
                                                        France</option>
                                                    <option value="ga" data-flag="ga.svg">
                                                        Gabon</option>
                                                    <option value="gm" data-flag="gm.svg">
                                                        Gambia</option>
                                                    <option value="ge" data-flag="ge.svg">
                                                        Georgia</option>
                                                    <option value="de" data-flag="de.svg">
                                                        Germany</option>
                                                    <option value="gh" data-flag="gh.svg">
                                                        Ghana</option>
                                                    <option value="gr" data-flag="gr.svg">
                                                        Greece</option>
                                                    <option value="gd" data-flag="gd.svg">
                                                        Grenada</option>
                                                    <option value="gt" data-flag="gt.svg">
                                                        Guatemala</option>
                                                    <option value="gn" data-flag="gn.svg">
                                                        Guinea</option>
                                                    <option value="gw" data-flag="gw.svg">
                                                        Guinea-Bissau
                                                    </option>
                                                    <option value="gy" data-flag="gy.svg">
                                                        Guyana</option>
                                                    <option value="ht" data-flag="ht.svg">
                                                        Haiti</option>
                                                    <option value="hn" data-flag="hn.svg">
                                                        Honduras</option>
                                                    <option value="hu" data-flag="hu.svg">
                                                        Hungary</option>
                                                    <option value="is" data-flag="is.svg">
                                                        Iceland</option>
                                                    <option value="in" data-flag="in.svg">
                                                        India</option>
                                                    <option value="id" data-flag="id.svg">
                                                        Indonesia</option>
                                                    <option value="ir" data-flag="ir.svg">
                                                        Iran</option>
                                                    <option value="iq" data-flag="iq.svg">
                                                        Iraq</option>
                                                    <option value="ie" data-flag="ie.svg">
                                                        Ireland</option>
                                                    <option value="il" data-flag="il.svg">
                                                        Israel</option>
                                                    <option value="it" data-flag="it.svg">
                                                        Italy</option>
                                                    <option value="jm" data-flag="jm.svg">
                                                        Jamaica</option>
                                                    <option value="jp" data-flag="jp.svg">
                                                        Japan</option>
                                                    <option value="jo" data-flag="jo.svg">
                                                        Jordan</option>
                                                    <option value="kz" data-flag="kz.svg">
                                                        Kazakhstan
                                                    </option>
                                                    <option value="ke" data-flag="ke.svg">
                                                        Kenya</option>
                                                    <option value="ki" data-flag="ki.svg">
                                                        Kiribati</option>
                                                    <option value="kw" data-flag="kw.svg">
                                                        Kuwait</option>
                                                    <option value="kg" data-flag="kg.svg">
                                                        Kyrgyzstan
                                                    </option>
                                                    <option value="la" data-flag="la.svg">
                                                        Laos</option>
                                                    <option value="lv" data-flag="lv.svg">
                                                        Latvia</option>
                                                    <option value="lb" data-flag="lb.svg">
                                                        Lebanon</option>
                                                    <option value="ls" data-flag="ls.svg">
                                                        Lesotho</option>
                                                    <option value="lr" data-flag="lr.svg">
                                                        Liberia</option>
                                                    <option value="ly" data-flag="ly.svg">
                                                        Libya</option>
                                                    <option value="li" data-flag="li.svg">
                                                        Liechtenstein
                                                    </option>
                                                    <option value="lt" data-flag="lt.svg">
                                                        Lithuania</option>
                                                    <option value="lu" data-flag="lu.svg">
                                                        Luxembourg
                                                    </option>
                                                    <option value="mg" data-flag="mg.svg">
                                                        Madagascar
                                                    </option>
                                                    <option value="mw" data-flag="mw.svg">
                                                        Malawi</option>
                                                    <option value="my" data-flag="my.svg">
                                                        Malaysia</option>
                                                    <option value="mv" data-flag="mv.svg">
                                                        Maldives</option>
                                                    <option value="ml" data-flag="ml.svg">
                                                        Mali</option>
                                                    <option value="mt" data-flag="mt.svg">
                                                        Malta</option>
                                                    <option value="mh" data-flag="mh.svg">
                                                        Marshall Islands
                                                    </option>
                                                    <option value="mr" data-flag="mr.svg">
                                                        Mauritania
                                                    </option>
                                                    <option value="mu" data-flag="mu.svg">
                                                        Mauritius</option>
                                                    <option value="mx" data-flag="mx.svg">
                                                        Mexico</option>
                                                    <option value="fm" data-flag="fm.svg">
                                                        Micronesia
                                                    </option>
                                                    <option value="md" data-flag="md.svg">
                                                        Moldova</option>
                                                    <option value="mc" data-flag="mc.svg">
                                                        Monaco</option>
                                                    <option value="mn" data-flag="mn.svg">
                                                        Mongolia</option>
                                                    <option value="me" data-flag="me.svg">
                                                        Montenegro
                                                    </option>
                                                    <option value="ma" data-flag="ma.svg">
                                                        Morocco</option>
                                                    <option value="mz" data-flag="mz.svg">
                                                        Mozambique
                                                    </option>
                                                    <option value="mm" data-flag="mm.svg">
                                                        Myanmar</option>
                                                    <option value="na" data-flag="na.svg">
                                                        Namibia</option>
                                                    <option value="nr" data-flag="nr.svg">
                                                        Nauru</option>
                                                    <option value="np" data-flag="np.svg">
                                                        Nepal</option>
                                                    <option value="nl" data-flag="nl.svg">
                                                        Netherlands
                                                    </option>
                                                    <option value="nz" data-flag="nz.svg">
                                                        New Zealand
                                                    </option>
                                                    <option value="ni" data-flag="ni.svg">
                                                        Nicaragua</option>
                                                    <option value="ne" data-flag="ne.svg">
                                                        Niger</option>
                                                    <option value="ng" data-flag="ng.svg">
                                                        Nigeria</option>
                                                    <option value="kp" data-flag="kp.svg">
                                                        North Korea
                                                    </option>
                                                    <option value="mk" data-flag="mk.svg">
                                                        North Macedonia
                                                    </option>
                                                    <option value="no" data-flag="no.svg">
                                                        Norway</option>
                                                    <option value="om" data-flag="om.svg">
                                                        Oman</option>
                                                    <option value="pk" data-flag="pk.svg">
                                                        Pakistan</option>
                                                    <option value="pw" data-flag="pw.svg">
                                                        Palau</option>
                                                    <option value="pa" data-flag="pa.svg">
                                                        Panama</option>
                                                    <option value="pg" data-flag="pg.svg">
                                                        Papua New Guinea
                                                    </option>
                                                    <option value="py" data-flag="py.svg">
                                                        Paraguay</option>
                                                    <option value="pe" data-flag="pe.svg">
                                                        Peru</option>
                                                    <option value="ph" data-flag="ph.svg">
                                                        Philippines
                                                    </option>
                                                    <option value="pl" data-flag="pl.svg">
                                                        Poland</option>
                                                    <option value="pt" data-flag="pt.svg">
                                                        Portugal</option>
                                                    <option value="qa" data-flag="qa.svg">
                                                        Qatar</option>
                                                    <option value="ro" data-flag="ro.svg">
                                                        Romania</option>
                                                    <option value="ru" data-flag="ru.svg">
                                                        Russia</option>
                                                    <option value="rw" data-flag="rw.svg">
                                                        Rwanda</option>
                                                    <option value="ws" data-flag="ws.svg">
                                                        Samoa</option>
                                                    <option value="sm" data-flag="sm.svg">
                                                        San Marino
                                                    </option>
                                                    <option value="st" data-flag="st.svg">
                                                        São Tomé and
                                                        Príncipe</option>
                                                    <option value="sa" data-flag="sa.svg">
                                                        Saudi Arabia
                                                    </option>
                                                    <option value="sn" data-flag="sn.svg">
                                                        Senegal</option>
                                                    <option value="rs" data-flag="rs.svg">
                                                        Serbia</option>
                                                    <option value="sc" data-flag="sc.svg">
                                                        Seychelles
                                                    </option>
                                                    <option value="sl" data-flag="sl.svg">
                                                        Sierra Leone
                                                    </option>
                                                    <option value="sg" data-flag="sg.svg">
                                                        Singapore</option>
                                                    <option value="sk" data-flag="sk.svg">
                                                        Slovakia</option>
                                                    <option value="si" data-flag="si.svg">
                                                        Slovenia</option>
                                                    <option value="sb" data-flag="sb.svg">
                                                        Solomon Islands
                                                    </option>
                                                    <option value="so" data-flag="so.svg">
                                                        Somalia</option>
                                                    <option value="za" data-flag="za.svg">
                                                        South Africa
                                                    </option>
                                                    <option value="kr" data-flag="kr.svg">
                                                        South Korea
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="remember-row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="policy"
                                                        value="Y" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Get emails from ESG Risk Viewer about products updates,
                                                        industry news
                                                        and events. You can <a href="#">unsubscribe</a> at any
                                                        time. <a href="#">Privacy Policy</a>
                                                    </label>
                                                </div>

                                            </div>
                                            <button type="submit" class="btn btn-primary sign-up-button">Sign
                                                UP</button>
                                            <div class="divider">Or</div>
                                            <div class="social-card">
                                                <a onclick="signInWithGoogle()"><img src="latest/img/social-icon.svg"
                                                        alt="">Continue with
                                                    Google</a>
                                                <a onclick="signInWithMicrosoft()"><img src="latest/img/microsoft.svg"
                                                        alt="">Continue with
                                                    Microsoft</a>
                                            </div>

                                </form>
                            </div>
                            <div class="signup-content">
                                <h3>Already have an account <a href="/login">Sign in</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer">
                            <ul>
                                <li>© ESG Risk Viewer</li>
                                <li>|</li>
                                <li><a href="#">Privacy & Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="latestjs/jquery-3.7.1.js"></script>
    <script src="latest/js/bootstrap.bundle.min.js"></script>

    <script>
        $('#country').on('change', function () {
            let flagUrl = $(this).find('option:selected').data('flag');
            if (flagUrl) {
                $('#selected-flag').attr('src', 'https://flagcdn.com/' + flagUrl);
            }
        });
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>

    <script>
        // Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyDHYpeKnZxFL2tlrNAqM9rV8GjWmQOjoMc",
            authDomain: "esgriskviewer-4a712.firebaseapp.com",
            projectId: "esgriskviewer-4a712",
            storageBucket: "esgriskviewer-4a712.firebasestorage.app",
            messagingSenderId: "279988740260",
            appId: "1:279988740260:web:571ba101688cec1a5cc631"
        };
        firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();


        // Google Registration/Login
        async function signInWithGoogle() {
            const provider = new firebase.auth.GoogleAuthProvider();
            try {
                const result = await auth.signInWithPopup(provider);
                const idToken = await result.user.getIdToken();
                const res = await fetch('/verify-token', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ idToken })
                });
                if (res.ok) {
                    window.location.href = '/dashboard';
                } else {
                    alert('Error signing in');
                }

            } catch (err) {
                console.error(err);
            }
        }

        // Microsoft Registration/Login
        async function signInWithMicrosoft() {
            const provider = new firebase.auth.OAuthProvider('microsoft.com');
            provider.setCustomParameters({ prompt: 'select_account' });
            try {
                const result = await auth.signInWithPopup(provider);
                const idToken = await result.user.getIdToken();
                const res = await fetch('/verify-token', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ idToken })
                });
                if (res.ok) {
                    window.location.href = '/dashboard';
                } else {
                    alert('Error signing in');
                }

            } catch (err) {
                console.error(err);
            }
        }
    </script>

    <%- include('../templates/login_footer.ejs') %>