<%- include('../templates/header.ejs', {header: 'Home', header_url: "/dashboard", sub_header: `${header} (${flag_name})`, show_br: true}) %>
<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <div class="row text-center">
                <div class="col-md-12 web-construction"></div>
                <span style="font-size: 20px;">We are working on it. Please contact us or check back later.</span>
            </div>
        </div>
    </div>
</div>
<%- include('../templates/footer.ejs') %>